<p><%= link_to "Back", "/feedbacks" %></p>

<div class="center hero-unit">
	<h1>Edit</h1>
	<h2>NOTE: Please fill out every block</h2>

	<%= form_tag "/feedbacks/#{@comment.id}", method: 'put' do %>
		<p>
			<%= label_tag :fname, "First Name" %>
			<%= text_field_tag :fname, "", size: 80, placeholder: @comment.fname %>
		</p>

		<p>
			<%= label_tag :good, "Strengths" %>
			<%= text_field_tag :good, "", size: 80, placeholder: @comment.good %>
		</p>

		<p>
			<%= label_tag :bad, "Weaknesses" %>
			<%= text_field_tag :bad, "", size: 80, placeholder: @comment.bad %>
		</p>

		<p>
			<%= label_tag :notes, "Notes" %>
			<%= text_field_tag :notes, "", size: 80, placeholder: @comment.notes %>
		</p>

		<%= submit_tag "Update Comment" %>

	<% end %>

</div>
