<div class="center hero-unit">

	<h1>Welcome Kellogg Brothers!</h1>
	<h2>Look at your own feedback below, or create a new comment for a fellow brother</h2>

    <p><%= link_to "Create a New Comment", "/feedbacks/new" %></p>

	<table class="center table table-striped">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th>Name</th>
				<th>Strengths</th>
				<th>Notes</th>			
			</tr>
		</thead>
		<tbody>
		<% @comments.each do |comments| %>
			<tr>
				<td><%= link_to "Delete", "/feedbacks/#{comments.id}", method: 'delete', data: { confirm: "Are you sure you want to delete this comment?" } %></td>
				<td><%= link_to "Edit", "/feedbacks/#{comments.id}/edit" %></td>

				<td><%= comments.fname %></td>
				<td><%= comments.good %></td>
				<td><%= comments.notes %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>