<p><%= link_to "Back", "/feedbacks" %></p>

<div class="center hero-unit">
	<h1>New Comment</h1>

	<%= form_tag "/feedbacks/" do %>
		<p>
			<%= label_tag :fname, "First Name" %>
			<%= text_field_tag :fname, "", size: 80, placeholder: "Write the Brother's first name" %>
		</p>

		<p>
			<%= label_tag :good, "Strengths" %>
			<%= text_field_tag :good, "", size: 80, placeholder: "Write a strength" %>
		</p>

		<p>
			<%= label_tag :bad, "Weaknesses" %>
			<%= text_field_tag :bad, "", size: 80, placeholder: "Write a weakness" %>
		</p>

		<p>
			<%= label_tag :notes, "Notes" %>
			<%= text_field_tag :notes, "", size: 80, placeholder: "Write any notes" %>
		</p>

		<%= submit_tag "Create a New Comment" %>

	<% end %>

</div>
